@using Microsoft.AspNetCore.Html
@{
    HtmlString PageSwap()
    {
        string res = "<p class='page-swap'>";
        if (!ViewBag.BackLink.Equals("invalid"))
        {
            res += $"<a class='swap back' href='{ViewBag.BackLink}'>НАЗАД</a>";
        }
        if (!ViewBag.ForwardLink.Equals("invalid"))
        {
            res += $"<a class='swap forward' href='{ViewBag.ForwardLink}'>ДАЛЕЕ</a>";
        }
        res += "</p>";
        return new HtmlString(res);
    }
}
<link rel="stylesheet" href="staticfiles1/staticfiles2/css/tutorial.css"/>
<script>makeMark(@ViewBag.Tutorial.Id)</script>
@PageSwap()
<h2>@ViewBag.Tutorial.Title</h2>
@(new HtmlString(ViewBag.Tutorial.Text))
@PageSwap()